.vs/
**/.bonsai/Bonsai.exe*
**/.bonsai/Packages/
**/.bonsai/Settings/
/artifacts/

# Data recorded while testing workflows
*.avi
*.wav
*.csv

# Editor layout for the root playground workflow
/playground.bonsai.layout
